  .editedArea{
    background:#1e1e1e;
    color:white;
    font-size:18px;
    font-family:consolas;
    position:relative;
    display:flex;
    flex-direction:row;
  }
  .loading{
    position:absolute;
    width:100%;
    height:100%;
    z-index:10;
    background:#1e1e1e;
  }
  .loadCenter{
    position:absolute;
    left:50%;
    top:100px;
    transform:translateY(-50%);
    width:40px;
    height:40px;
    border-radius:50%;
    animation:loading 1s linear infinite;
    background:white;
  }
  @keyframes loading {
    from{
      width:40px;
      height:40px;
    }
    to{
      width:60px;
      height:60px;
    }
  }
  .editedArea:focus{
    outline:none;
  }
  .lineNums{
    width:30px;
    display:flex;
    flex-direction:column;
  }
  .lineNum{
    color:rgba(255,255,255,0.3);
    width:30px;
    height:20px;
    text-align:center;
    display:inline-block;
  }
  .textArea{
    cursor:text;
    flex:1;
    position:relative;
  }
  .linetextCon{
    margin:0px;
    height:20px;
    display:flex;
    justify-content:flex-start;
  }
  .textCon{
    margin:0px;
    height:20px;
    display:inline-block;
  }
  .choosedframe{
    position:absolute;
    height:20px;
    background:rgba(100,100,100,0.4);
  }
  .cursor{
  	width:2px;
  	height:20px;
  	position:absolute;
  	animation: twinkle 1s infinite;
  }
  @keyframes twinkle {
  	from { background:white;}
  	to { background:#1e1e1e;}
  }
  .measureTool{
    margin:0px;
    display:inline-block;
    height:20px;
    opacity:0;
  }